# Bruin
.bruin.yml
logs/runs
logs/*.log

# Python
__pycache__/
**/__pycache__/
*.py[cod]
.python*
.env

# Virtual environment
venv/

# GCP / sensitive info
keys/
*.tfvars

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.terraform.lock*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Downloads / archives
*.zip
